*{
  
}
.night{
  background-image: url('/images/icon-moon.svg');
  background-color: blueviolet;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s 0s;
}
.sun{
  background-image: url('/images/icon-sun.svg');
  background-color: blueviolet;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s 0s;
}